<launch>
        <arg name="droneip" default="192.168.1.1" />
        <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" args="-ip $(arg droneip)">
                <param name="navdata_demo" value="False" />
                <param name="realtime_navdata" value="True" />
                <param name="realtime_video" value="True" />
                <param name="looprate" value="30" />
        </node>
        <node pkg="rosservice" type="rosservice" name="rosservice" args="call --wait /ardrone/setcamchannel 1" />     

        <node pkg="rosbag" type="record" name="bag_record" args="-O $(find ardrone_autonomy)/bag_files/drone_output 
/ardrone/bottom/camera_info
/ardrone/bottom/image_raw
/ardrone/imu
/ardrone/mag
/ardrone/navdata
/ardrone/odometry
/rosout
/rosout_agg
/tf"/>

<node name="drone_commands" pkg="ardrone_autonomy" type="drone_commands.py" />

       



</launch>

